fieldset {
    border: solid 1px lightgrey;
    border-radius: 4px;
    padding: 10px;
}

.hero-bg {
    background-color: #F4F4F3;
    height: 100px;
}

.button.is-fixed-100 {
    min-width: 100px;
 }

 .button.is-fixed-50 {
    min-width: 50px;
 }

 .bullet-list {
    list-style: disc;
    margin-left: 20px;
 }